body
{
  height: 100vh;
  font:normal 80% Arial, Helvetica, sans-serif;
  overflow-y: auto;
}
.ac_result
{
  border-style: none;
  background-color: white;
  padding: 7px;
  width: 10%;
  border-radius: 10px;
  margin-top: 5%;
  font-weight: bold;

}
#center:hover
{
  cursor:pointer;
}

.ques_fetch{
  background-image: linear-gradient(to right, #4ae63cad,#4ae68caf);
  margin-right: 20%;
  margin-top: 2%;
  width: 65%;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
}
#default_text
{
  background-color: black;
  color: white;
}
#ques_1
{
    width: 64.5%;
}

.section_inline p
{
  display:inline-block;
  font-weight: bold;

}
.section_inline
{
  padding: 7px;
}
#fetch-question-btn
{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px;
  border-style: none;
  align:center;
  margin-left: 35%;
  transition: all .3s;
  font-weight: bold;
}
#fetch-question-btn:hover .spinner-grow
{
  color: red;
}
.hidden
{
  display: none;
}
.hide
{
  display:none;
}
#default_text
{
  width: 60%;
  margin-top: 15%;
  margin-right: auto;
  margin-left: 16%;
  color: white;
  align:center;
  background-color:transparent;
  text-align: center;
  border-style: none;
  border-radius: 10px;
  padding: 30px;
}
#fetch-question-btn:hover
{
  color: white;
  padding: 8px;
  background-color: black;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.856);
}

.modal-content {
  background-color: #fefefe71;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#result_here{
  border-style: none;
  border-radius: 20px;
  padding: 20px;
  align:center;
  text-align: center;
  font-size: 50px;
  word-wrap: break-word;
}
.close {
  color: #aaaaaa;
  position: absolute;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 0;
  right:10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#question{
	margin-right: 40%;
  left: 10px;
  background-color:rgb(20, 20, 20,0.4);
  border-radius: 25px;
  position: absolute;
  width: 57%;
}
#submit-button:hover
{
  background-color: black;
  color: white;
}
#submit-button
{
  width: 50%;
  margin-bottom: 10px;
  border-style: none;
  padding: 15px;
  border-radius: 10px;
  transition: all .3s;
  font-weight: bold;
}
.spacing
{
  margin-top: 15px;
  margin-bottom: 8px;
  border-style: none;
  border-radius: 10px;
  padding: 15px;
  width:80%;
  text-align: center;
  background-image: linear-gradient(to right, #ffb152,#ffe859);
}
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 15%;
}

#answer{
  right: 5px;
  position: absolute;
  text-align: center;
  display: block;
  background-color: transparent;
  width: 40%;
}
#enter_details
{
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  padding: 25px;
}
#form_1
{
  padding: 25px;
}
canvas{
  display: flow-root;
  vertical-align:bottom;

}
.spinner-grow
{
  color: green;
}
.fetch_box
{
  margin-top: 15%;
  margin-right: auto;
  margin-left: 19%;
  align:center;
  text-align: center;
  width: 50%;
  padding: 30px;
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color: #1f1b1b;
  background-size: cover;
  background-position: 100% 100%;
  background-repeat:repeat;
	z-index:-1;
	margin-top: 0;
	position:fixed;
}
